<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftGlobe-MacOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftGlobe-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftGlobe-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>877FBC991E9D784200407209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B2478E1E96C20B00A2EAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B247A21E96C20B00A2EAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B247AD1E96C20B00A2EAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B247CE1E96D56F00A2EAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B247DE1E96D56F00A2EAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B247E91E96D56F00A2EAA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
